#me {
  padding-top: 0.56rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  .avatar-container {
    position: relative;
    display: flex;
    align-items: center;

    img {
      height: 0.6rem;
      width: 0.6rem;
      background: #fff;
      border-radius: 50%;
      margin-right: 0.2rem;
    }

    .nickname {
      font-size: 0.2rem;
    }
  }

  .divider {
    background: #000;
    height: 1px;
    margin: 0.2rem -0.3rem;
  }

  .link {
    display: flex;
    align-items: center;
    margin-bottom: 0.15rem;

    img {
      max-width: 0.2rem;
      max-height: 0.22rem;
    }

    .icon {
      text-align: center;
      display: inline-block;
      width: 0.24rem;
      margin-right: 0.15rem;
    }

    a {
      color: #000;
    }
  }

  .logout {
    margin: 0.24rem 0 0.12rem;
    text-align: center;

    a {
      color: #ff2a2a;
    }
  }

  .version {
    margin: 0.12rem 0 0.24rem;
    text-align: center;
    opacity: 0.5;
  }
}