#me {
  padding-top: 0.56rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  .avatar {
    height: 1.2rem;
    width: 1.2rem;
    overflow: hidden;
    border-radius: 50%;
    background: #EDEDED;
    text-align: center;
    margin: 0 auto;
    
    img {
      width: 80%;
      margin-top: 10%;
    }
  }

  .avatar-container {
    position: relative;
    margin-bottom: 0.25rem;

    .code {
      font-size: 0.12rem;
      background: linear-gradient(to right, #D2B07A 0%, #F0D7B3 100%);
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      padding: 0.05rem 0.08rem;
      height: 0.28rem;
      border-radius: 0.14rem;
    }
  }

  .link-list {
    box-shadow: 0 0.08rem 0.16rem 0 rgba($color: #22222C, $alpha: 0.1);
    padding: 0 0.12rem;
    border-radius: 0.06rem;
    margin-bottom: 0.1rem;
    min-height: 0.45rem;
    border: transparent 1px solid;
    transition: all ease 0.3s;

    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.12rem 0;
      color: #000;
      font-weight: 300;

      div:first-child {
        color: #000;
      }
    }

    img {
      max-width: 0.2rem;
      max-height: 0.22rem;
    }

    .icon {
      text-align: center;
      display: inline-block;
      width: 0.24rem;
      margin-right: 0.15rem;
    }
  }


  .logout {
    margin: 0.24rem 0 0.12rem;
    text-align: center;

    a {
      color: #ff2a2a;
    }
  }

  .version {
    margin: 0.12rem 0 0.24rem;
    text-align: center;
    opacity: 0.5;
  }
}