#me {
  .avatar {
    height: 0.4rem;
    width: 0.4rem;
    overflow: hidden;
    border-radius: 50%;
    // background: #EDEDED;
    text-align: center;
    
    img {
      width: 100%;
      // margin-top: 10%;
    }
  }
  
  .avatar-container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 0.15rem;

    .code {
      font-size: 0.16rem;
      font-weight: 500;
      margin-left: 0.14rem;
    }
  }

  .link-list {
    padding: 0 0.12rem;
    margin-bottom: 0.1rem;
    min-height: 0.45rem;
    border: transparent 1px solid;
    transition: all ease 0.3s;

    .link {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.12rem 0;
      color: var(--text-main);
      font-weight: 300;
      border-bottom: var(--div-color) solid 1px;

      div:first-child {
        color: var(--text-main);
      }
    }

    img {
      max-width: 0.2rem;
      max-height: 0.22rem;
    }

    .icon {
      text-align: center;
      display: inline-block;
      width: 0.24rem;
      margin-right: 0.15rem;
    }
  }


  .logout {
    padding: 0.12rem 0;
    text-align: center;

    a {
      color: #ff2a2a;
    }
  }

  .version {
    margin: 0.12rem 0 0.24rem;
    text-align: center;
    opacity: 0.5;
  }
}
