footer {
  position: fixed;
  bottom: 0.15rem;
  left: 0.15rem;
  width: calc(100vw - 0.3rem);
  display: flex;
  background: var(--footer-bg);
  box-shadow: 0 6px 12px 0 rgba($color: #000000, $alpha: 0.4);
  z-index: 3;
  transform: translate(0, 0);
  transition: all ease 0.3s;
  height: 0.5rem;
  border-radius: 0.08rem;
  overflow: hidden;

  .item {
    width: 25%;
    text-align: center;
    
    a {
      display: block;
      height: 0.5rem;
      color: rgba($color: #b68e4d, $alpha: 0.4);
      display: flex;
      align-items: center;
      justify-content: center;

      span {
        display: block;
        font-size: 0.12rem;
        padding: 0.05rem;
        border-radius: 0.06rem;
        background: var(--footer-bg-item);
      }
    }

    img {
      display: block;
      height: 0.14rem;
      width: 0.14rem;
      object-fit: contain;
      opacity: 0.3;
      transition: all ease 0.3s;
    }

    &.active {
      background-color: var(--footer-bg-active);

      a {
        color: #b68e4d;
      }

      img {
        opacity: 1;
      }
    }
  }

  &.hide {
    transform: translate(0, calc(100% + 0.2rem))
  }
}

@keyframes footer-icon-show {
  0% {
    transform: translate(0, -0.08rem);
  }
  100% {
    transform: translate(0, 0);
  }
}