#withdraw {
  margin-top: 0.56rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  .banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.24rem;
    padding-top: 0.12rem;
  }

  .input-row {
    button {
      flex-grow: 0;
      flex-shrink: 0;
      width: 1.2rem;
      font-size: 14px;
      padding: 0.06rem;
      margin-left: 0.12rem;
    }
  }

  .form {
    .scan-btn {
      width: 0.2rem;
      right: 0.14rem;
      top: 50%;
      margin-left: 0.15rem;
    }
  }

  .form .form-info {
    display: flex;
    justify-content: space-between;
    height: 0.28rem;

    &.auto-height {
      height: auto;
    }

  }
  .warn {
    font-size: 0.12rem;
    padding: 0.06rem;
    border: var(--primary-color) solid 1px;
    margin-bottom: 0.06rem;
    border-radius: 0.1rem;
  }

  .submit {
    margin-top: 0.24rem;

    button {
      width: 100%;
    }
  }

  .history {
    .item {
      position: relative;
      display: flex;
      margin-top: 0.12rem;
      padding-bottom: 0.12rem;
      border-bottom: var(--div-color) solid 1px;

      .logo {
        flex-grow: 0;
        flex-shrink: 0;
        width: 0.4rem;
      }

      .center {
        font-size: 0.14rem;
        flex-shrink: 1;
        flex-grow: 1;
        overflow: hidden;
        margin: 0 0.1rem;
      }

      .amount {
        flex-grow: 0;
        flex-shrink: 0;
      }

      .txid {
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .time {
        opacity: 0.4;
      }
    }
  }
}