#wallet {
  padding-top: 0.56rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;

  .top-select .option {
    width: 0.6rem;
  }

  .info {
    margin: 0.25rem 0;

    .row {
      display: flex;
      padding: 0.13rem 0.15rem;

      .me {
        width: 40%;
      }
      .block {
        width: 60%;
      }

      .key {
        font-size: 0.18rem;
      }
      .value {
        font-size: 0.12rem;
        opacity: 0.4;
      }
    }
  }

  .card {
    text-align: center;

    .top {
      font-size: 0.17rem;
    }
    .amount {
      font-size: 0.48rem;
      font-weight: 400;
      margin-bottom: 0.1rem;
    }
    .value span {
      padding: 0.06rem 0.16rem;
      height: 0.3rem;
      border-radius: 0.15rem;
    }
  }

  .opt {
    display: flex;
    margin: 0.25rem -0.05rem;

    .opt-btn {
      padding: 0.09rem 0;
      font-size: 0.2rem;
      font-weight: 400;
      border-radius: 0.03rem;
      text-align: center;
      flex-grow: 1;
      margin: 0 0.05rem;
      background: #B5ABAB;
      color: #fff;
    }
  }

  .history {
    .item {
      display: flex;
      align-items: center;
      margin-bottom: 0.1rem;

      .logo {
        flex-grow: 0;
        flex-shrink: 0;
        width: 0.4rem;
      }

      .center {
        font-size: 0.14rem;
        flex-shrink: 1;
        flex-grow: 1;
        overflow: hidden;
        margin: 0 0.1rem;
      }

      .amount {
        flex-grow: 0;
        flex-shrink: 0;
      }

      .txid {
        font-weight: 400;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .time {
        color: rgba($color: #000, $alpha: 0.4);
      }
    }

    .loading {
      text-align: center;
    }
  }

  .big {
    width: 100%;
    display: block;
    padding: 0.09rem 0;
    font-size: 0.2rem;
    font-weight: 400;
    border-radius: 0.03rem;
    text-align: center;
    background: rgba($color: #B5ABAB, $alpha: 0.7);
    color: #fff;
    margin-bottom: 0.12rem;

    i {
      font-size: 0.3rem;
      vertical-align: middle;
      margin-right: 0.06rem;
    }

    span {
      vertical-align: middle;
    }
  }
}