@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";

// @import '~antd/dist/antd.css';
html {
  font-size: 100px;
}

body {
  font-size: 0.14rem;
  font-weight: 300;
  background: #fff;
}

input {
  font-weight: 300;
  outline: none;
}

button {
  background-image: linear-gradient(to right, #FF7F22 0%, #FFB645 100%);
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 0.16rem;
  padding: 0.12rem 0.24rem;
}

a {
  text-decoration: none;
  color: #D7B97E;
  font-weight: 400;
}

.container {
  padding: 0 0.15rem;
}

#app {
  position: relative;
}

.page-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 18px;
}

.form {
  .item {
    padding: 0.06rem 0;
    border-bottom: #F2F2F2 solid 1px;
    margin-bottom: 0.06rem;
    position: relative;

    input {
      border: none;
      width: 100%;
      line-height: 2;
      padding: 0;

      &::placeholder {
        color: #6788A2;
      }
    }
  }
}

.page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

.my-modal-conainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background: rgba($color: #000000, $alpha: 0.3);

  .my-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 0.06rem;
    padding: 0.2rem;
    box-shadow: 0 0 7px 0px rgba($color: #000000, $alpha: 0.3);
  }
}

// antd
#app {
  .ant-spin-dot-item {
    background-color: #FF7F22;
  }
}

// pull
.ptr-element {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: #aaa;
	z-index: 4;
	text-align: center;
  height: 50px;
  pointer-events: none;
}

.ptr-element .genericon {
	opacity: .6;
	font-size: 34px;
	width: auto;
	height: auto;
	transition: all .25s ease;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	margin-top: 5px;
}
.ptr-refresh .ptr-element .genericon {
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}
.ptr-loading .ptr-element .genericon,
.ptr-reset .ptr-element .genericon {
	display: none;
}

.spin-loading {
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: #fff;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 0.2rem;
  padding-top: 0.1rem;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  transition: all ease 0.3s;
}
.ptr-loading .spin-loading {
  opacity: 1;
}

.loading span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin-right: 3px;
	-webkit-transform: scale(0.3);
	transform: scale(0.3);
	border-radius: 50%;
	-webkit-animation: ptr-loading 0.4s infinite alternate;
	animation: ptr-loading 0.4s infinite alternate;
}

.loading-ptr-1 {
	-webkit-animation-delay: 0;
	animation-delay: 0 !important;
}

.loading-ptr-2 {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s !important;
}

.loading-ptr-3 {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s !important;
}

@-webkit-keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: #333;
		opacity: 1;
	}
}

@keyframes ptr-loading {
	0% {
		-webkit-transform: translateY(0) scale(0.3);
		transform: translateY(0) scale(0.3);
		opacity: 0;
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		background-color: #333;
		opacity: 1;
	}
}

.ptr-loading .refresh-view, .ptr-reset .refresh-view,
.ptr-loading .ptr-element, .ptr-reset .ptr-element {
	transition: all .25s ease;
}

.ptr-reset .refresh-view {
	-webkit-transform: translate3d( 0, 0, 0 );
	transform: translate3d( 0, 0, 0 );
}

.ptr-loading .refresh-view {
	// -webkit-transform: translate3d( 0, 30px, 0 );
	// transform: translate3d( 0, 30px, 0 );
}


/* react-pull-to-refresh CSS */


// body:not(.ptr-loading) #container .ptr-element {
// 	transform: translate3d(0, -50px, 0);
// }
