:root {
  --primary-color: #F17B0B;
  --page-bg: #131E31;
  --text-main: #fff;
  --text-weak: #9B9EAD;

  --div-color: #232d3e;

  // input 
  --input-bg: #3c3025;
  --input-bg-active: #4e453d;

  // layout
  // footer
  --footer-bg: #121A27;
  --footer-bg-active: #1e2532;
  --footer-bg-item: rgba(216, 216, 216, 0.2);

  // pages
  --index-pad-bg: linear-gradient(to right bottom, #FCA40F 0%, #F19504 100%);
  --index-notice-bg: #263041;

  --wallet-info-bg: #404756;
}