#main {
  padding-bottom: 0.8rem; }

header {
  font-size: 0.18rem;
  height: 0.44rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  color: #2A455A;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  header .title {
    width: 100%;
    text-align: center;
    font-weight: 400;
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 1; }
  header .icon-container {
    width: 0.2rem;
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    line-height: 1; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  border-top: #EEEFF0 solid 1px;
  display: -webkit-box;
  display: flex;
  background: #fff;
  z-index: 3;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  height: 0.72rem; }
  footer .item {
    width: 20%;
    text-align: center;
    padding: 0.12rem 0; }
    footer .item img {
      height: 0.22rem; }
    footer .item .name {
      color: #979797;
      font-size: 0.12rem;
      margin-top: 0.05rem; }
    footer .item.active .name {
      color: #FF9933; }
  footer.hide {
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%); }

#login {
  padding: 0 0.2rem;
  padding-top: 0.44rem; }
  #login .logo-container {
    margin: 0.33rem 0;
    text-align: center; }
    #login .logo-container img {
      width: 0.8rem; }
  #login .form .item {
    padding: 0.12rem 0;
    margin-bottom: 0.24rem; }
  #login .submit {
    padding: 0.24rem 0.1rem; }
    #login .submit button {
      width: 100%; }
  #login .opts {
    text-align: center; }

#markets .item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  font-weight: 400; }
  #markets .item:last-child .info {
    border-bottom: none; }
  #markets .item .icon {
    height: 0.4rem;
    width: 0.4rem;
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.13rem; }
    #markets .item .icon img {
      height: 0.4rem; }
  #markets .item .info {
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 1;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    padding: 0.16rem 0;
    border-bottom: #d3d3d3 solid 1px; }
  #markets .item .name {
    width: 0.65rem;
    -webkit-box-flex: 0;
            flex-grow: 0;
    flex-shrink: 0;
    font-size: 0.16rem; }
  #markets .item .price {
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 1; }
    #markets .item .price .cny {
      font-size: 0.12rem;
      color: #6788A2; }
  #markets .item .change {
    width: 0.7rem;
    text-align: center;
    padding: 0.04rem 0;
    background: #04C087;
    color: #fff;
    border-radius: 0.03rem; }
    #markets .item .change.down {
      background: #F04D64; }

#home {
  padding-top: 0.44rem;
  padding-bottom: 1rem;
  background: url(cf55b00f12a841b3159b8266e856b3e3.png) no-repeat, -webkit-linear-gradient(315deg, #FF7F22 0%, #FFB646 100%);
  background: url(cf55b00f12a841b3159b8266e856b3e3.png) no-repeat, linear-gradient(135deg, #FF7F22 0%, #FFB646 100%);
  background-size: contain, 100%;
  background-position: center 3rem, center;
  position: relative;
  color: #fff; }
  #home .block-info {
    position: absolute;
    top: 0.55rem;
    right: 0;
    text-align: right;
    color: #fff;
    z-index: 2;
    pointer-events: none; }
    #home .block-info img {
      height: 0.22rem;
      margin-right: 0.08rem; }
    #home .block-info span {
      vertical-align: middle; }
    #home .block-info .wrapper {
      background: rgba(255, 255, 255, 0.4);
      padding: 0.09rem 0.15rem;
      display: inline-block;
      height: 0.44rem;
      border-radius: 0.22rem 0 0 0.22rem; }
    #home .block-info div {
      margin-bottom: 0.09rem; }
  #home .opt {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
    #home .opt .switch {
      width: 1.1rem;
      font-size: 0.12rem;
      padding: 0.05rem;
      background: #ededed;
      border-radius: 0.24rem;
      color: #C8C8C8;
      -webkit-transform: scale(0.75);
          -ms-transform: scale(0.75);
              transform: scale(0.75);
      -webkit-transition: all ease 0.3s;
      transition: all ease 0.3s;
      -webkit-transform-origin: left center;
          -ms-transform-origin: left center;
              transform-origin: left center;
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-grow: 0; }
      #home .opt .switch span {
        height: 0.32rem;
        width: 0.7rem;
        line-height: 0.32rem;
        display: inline-block;
        background: #fff;
        text-align: center;
        border-radius: 0.16rem;
        margin-left: 0;
        -webkit-transition: all ease 0.3s;
        transition: all ease 0.3s; }
      #home .opt .switch.on {
        background: #6db2df; }
        #home .opt .switch.on span {
          margin-left: 0.3rem;
          color: #6db2df; }
    #home .opt img {
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-grow: 0;
      margin-left: 0.12rem;
      height: 0.42rem; }
    #home .opt .center {
      -webkit-box-flex: 1;
              flex-grow: 1;
      flex-grow: 1; }
  #home .desc {
    font-size: 0.12rem;
    font-weight: 400;
    margin-top: 0.15rem; }

#board {
  height: 1.8rem;
  margin-top: -0.9rem;
  margin-left: 0.15rem;
  margin-right: 0.15rem;
  position: relative;
  background: #fff;
  border-radius: 0.07rem;
  box-shadow: rgba(215, 215, 215, 0.5) 0 0 0.1rem 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 0.12rem 0; }
  #board > div {
    display: -webkit-box;
    display: flex; }
  #board .value {
    font-size: 0.18rem;
    font-weight: 400;
    color: #000; }
  #board .name {
    font-size: 0.14rem;
    font-weight: 400;
    color: #7f7f7f; }
  #board .item {
    text-align: center;
    width: 50%;
    -webkit-box-flex: 1;
            flex-grow: 1;
    flex-shrink: 1;
    position: relative; }
    #board .item:first-child::after {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      height: 0.22rem;
      width: 1px;
      background: #979797;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%); }

#activities {
  height: 4rem;
  color: #fff;
  position: relative; }
  #activities .activity {
    position: absolute;
    text-align: center;
    -webkit-animation: show-activity 0.3s ease;
            animation: show-activity 0.3s ease; }

@-webkit-keyframes show-activity {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes show-activity {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

#totalPower {
  border: #979797 solid 1px;
  overflow: hidden;
  border-radius: 7px;
  position: relative; }
  #totalPower .bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fd9f44;
    background-image: -webkit-repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 15px, transparent 0, transparent 30px);
    background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4) 15px, transparent 0, transparent 30px); }
  #totalPower .content {
    position: relative;
    z-index: 2;
    padding: 13px 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }
    #totalPower .content .lv,
    #totalPower .content .icon {
      flex-shrink: 0;
      -webkit-box-flex: 0;
              flex-grow: 0;
      width: 45px; }
    #totalPower .content .lv {
      color: #fff;
      font-weight: 600;
      font-size: 30px; }
      #totalPower .content .lv span {
        font-size: 40px; }
    #totalPower .content .center {
      flex-shrink: 1;
      -webkit-box-flex: 1;
              flex-grow: 1;
      text-align: center; }
      #totalPower .content .center .title {
        font-size: 18px;
        font-weight: 600; }
      #totalPower .content .center .data {
        font-size: 32px;
        font-weight: 600; }
    #totalPower .content .icon img {
      width: 100%; }

#paidPower .paidpower {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  min-height: 45px; }
  #paidPower .paidpower:last-child {
    margin-bottom: 0; }
  #paidPower .paidpower .lv,
  #paidPower .paidpower .price {
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0; }
  #paidPower .paidpower .lv {
    height: 44px;
    width: 44px;
    text-align: center;
    font-size: 12px;
    position: relative;
    margin-right: 12px; }
    #paidPower .paidpower .lv .text {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
  #paidPower .paidpower .center {
    flex-shrink: 1;
    -webkit-box-flex: 1;
            flex-grow: 1; }
    #paidPower .paidpower .center .rate {
      font-size: 12px;
      color: #999; }
    #paidPower .paidpower .center .data {
      font-size: 14px;
      font-weight: 500;
      margin-bottom: 8px; }
  #paidPower .paidpower .price {
    margin-left: 12px; }

.demo2 {
  -webkit-transform-origin: 22px 22px;
      -ms-transform-origin: 22px 22px;
          transform-origin: 22px 22px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: stroke-dasharray .3s ease-in;
  transition: stroke-dasharray .3s ease-in; }

#yesterdayPower .yesterdaypower {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 10px;
  min-height: 45px; }
  #yesterdayPower .yesterdaypower:last-child {
    margin-bottom: 0; }
  #yesterdayPower .yesterdaypower .icon,
  #yesterdayPower .yesterdaypower .reward {
    flex-shrink: 0;
    -webkit-box-flex: 0;
            flex-grow: 0; }
  #yesterdayPower .yesterdaypower .icon {
    width: 44px;
    margin-right: 12px; }
    #yesterdayPower .yesterdaypower .icon img {
      width: 100%; }
  #yesterdayPower .yesterdaypower .center {
    flex-shrink: 1;
    -webkit-box-flex: 1;
            flex-grow: 1; }
    #yesterdayPower .yesterdaypower .center .data {
      font-size: 14px;
      font-weight: 500; }
  #yesterdayPower .yesterdaypower .reward {
    margin-left: 12px; }

.demo2 {
  -webkit-transform-origin: 22px 22px;
      -ms-transform-origin: 22px 22px;
          transform-origin: 22px 22px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: stroke-dasharray .3s ease-in;
  transition: stroke-dasharray .3s ease-in; }

#power {
  padding-top: 0.44rem; }

#buy {
  padding-top: 0.44rem; }
  #buy .list {
    padding-top: 0.12rem; }
  #buy .list .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    min-height: 45px;
    border: transparent 1px solid;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    #buy .list .item:last-child {
      margin-bottom: 0; }
    #buy .list .item.selected {
      border-color: #fd9840; }
    #buy .list .item .lv,
    #buy .list .item .price {
      flex-shrink: 0;
      -webkit-box-flex: 0;
              flex-grow: 0; }
    #buy .list .item .lv {
      height: 44px;
      width: 44px;
      text-align: center;
      font-size: 12px;
      position: relative;
      margin-right: 12px; }
      #buy .list .item .lv .text {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    #buy .list .item .center {
      flex-shrink: 1;
      -webkit-box-flex: 1;
              flex-grow: 1; }
      #buy .list .item .center .rate {
        font-size: 12px;
        color: #999; }
      #buy .list .item .center .data {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px; }
    #buy .list .item .price {
      margin-left: 12px; }
  #buy .footer {
    position: fixed;
    display: -webkit-box;
    display: flex;
    bottom: 0.72rem;
    z-index: 1;
    height: 0.5rem;
    -webkit-box-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
            justify-content: space-between;
    width: 100%;
    -webkit-animation: buy-footer-show 0.3s ease;
            animation: buy-footer-show 0.3s ease;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }
    #buy .footer .info {
      font-size: 0.12rem;
      padding-left: 0.12rem; }
      #buy .footer .info .cost {
        font-weight: 400; }
      #buy .footer .info .discount {
        color: #6788A2; }
    #buy .footer .btn {
      padding: 0 0.12rem;
      color: #fff;
      font-weight: 400; }
    #buy .footer .info-container {
      -webkit-box-flex: 1;
              flex-grow: 1;
      flex-shrink: 1;
      border-top: #EEEFF0 solid 1px; }
    #buy .footer .btn-container {
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 0;
      background: -webkit-linear-gradient(75deg, #FF7F22 0%, #FFB645 100%);
      background: linear-gradient(15deg, #FF7F22 0%, #FFB645 100%); }
    #buy .footer .info-container,
    #buy .footer .btn-container {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
  #buy .order-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    font-size: 0.12rem;
    -webkit-animation: buy-modal-show 0.3s ease;
            animation: buy-modal-show 0.3s ease; }
  #buy .order-container {
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.05rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    #buy .order-container .item {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
              align-items: center;
      margin-bottom: 0.06rem; }
      #buy .order-container .item > div:first-child {
        color: #6788A2; }
  #buy .order-submit {
    margin-top: 0.24rem;
    font-size: 0.14rem; }
    #buy .order-submit .btn {
      padding: 0.06rem 0;
      background: -webkit-linear-gradient(75deg, #FF7F22 0%, #FFB645 100%);
      background: linear-gradient(15deg, #FF7F22 0%, #FFB645 100%);
      color: #fff;
      text-align: center;
      border-radius: 0.3rem; }

@-webkit-keyframes buy-footer-show {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@keyframes buy-footer-show {
  0% {
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%); }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0); } }

@-webkit-keyframes buy-modal-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes buy-modal-show {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#wallet {
  padding-top: 0.56rem; }
  #wallet .card {
    border-radius: 0.12rem;
    padding: 0.2rem;
    background: -webkit-linear-gradient(45deg, #FF7F22 0%, #FFB645 100%);
    background: linear-gradient(45deg, #FF7F22 0%, #FFB645 100%);
    color: #fff; }
    #wallet .card .top {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
      #wallet .card .top .logo {
        width: 0.44rem;
        -webkit-box-flex: 0;
                flex-grow: 0;
        flex-shrink: 0; }
      #wallet .card .top .address {
        -webkit-box-flex: 1;
                flex-grow: 1;
        flex-shrink: 1;
        line-height: 1.35;
        margin-left: 0.15rem; }
        #wallet .card .top .address .currency {
          font-size: 0.22rem;
          font-weight: 400; }
        #wallet .card .top .address .text {
          display: -webkit-box;
          display: flex;
          -webkit-box-align: center;
                  align-items: center; }
          #wallet .card .top .address .text span {
            width: 200px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis; }
    #wallet .card .amount {
      font-size: 0.22rem;
      font-weight: 400;
      margin-top: 0.33rem;
      text-align: right; }
  #wallet .opt {
    display: -webkit-box;
    display: flex;
    justify-content: space-around;
    margin: 0.2rem 0; }
    #wallet .opt .opt-btn {
      padding: 0.07rem 0.3rem;
      font-size: 0.18rem;
      font-weight: 400;
      box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.12);
      height: 0.42rem;
      border-radius: 0.21rem;
      color: #000; }
      #wallet .opt .opt-btn span {
        margin-left: 0.08rem; }
  #wallet .history .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    min-height: 45px; }
    #wallet .history .item .logo {
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 0; }
    #wallet .history .item .center {
      font-size: 0.14rem;
      flex-shrink: 1;
      -webkit-box-flex: 1;
              flex-grow: 1;
      overflow: hidden;
      margin: 0 0.1rem; }
    #wallet .history .item .amount {
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 0; }
    #wallet .history .item .txid {
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis; }
    #wallet .history .item .time {
      color: rgba(0, 0, 0, 0.4); }

#me {
  padding-top: 0.56rem; }
  #me .avatar {
    height: 1.2rem;
    width: 1.2rem;
    overflow: hidden;
    border-radius: 50%;
    background: #EDEDED;
    text-align: center;
    margin: 0 auto; }
    #me .avatar img {
      width: 80%;
      margin-top: 10%; }
  #me .avatar-container {
    position: relative;
    margin-bottom: 0.25rem; }
    #me .avatar-container .code {
      font-size: 0.12rem;
      color: #fff;
      background: -webkit-linear-gradient(45deg, #FF7F22 0%, #FFB645 100%);
      background: linear-gradient(45deg, #FF7F22 0%, #FFB645 100%);
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 50%);
          -ms-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%);
      padding: 0.05rem 0.08rem;
      height: 0.28rem;
      border-radius: 0.14rem; }
  #me .nickname {
    text-align: center;
    font-size: 0.22rem;
    font-weight: 400; }
  #me .link-list {
    box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
    padding: 0 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    min-height: 45px;
    border: transparent 1px solid;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    #me .link-list .link {
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-pack: justify;
              justify-content: space-between;
      padding: 12px 0;
      color: #000;
      font-weight: 300; }
      #me .link-list .link div:first-child {
        color: #000; }
  #me .logout {
    margin: 0.24rem 0;
    text-align: center; }
    #me .logout a {
      color: #ff2a2a; }

#notice {
  margin-top: 0.56rem; }
  #notice .notice .title {
    font-size: 0.16rem;
    font-weight: 400; }
  #notice .notice .time {
    font-weight: 0.12rem;
    color: rgba(0, 0, 0, 0.4); }
  #notice .notice .content {
    margin: 0.16rem 0 0.32rem; }

#myActivities {
  margin-top: 0.56rem; }
  #myActivities .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    min-height: 45px; }
    #myActivities .item .logo {
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 0; }
    #myActivities .item .center {
      font-size: 0.14rem;
      flex-shrink: 1;
      -webkit-box-flex: 1;
              flex-grow: 1;
      overflow: hidden;
      margin: 0 0.1rem; }
    #myActivities .item .amount {
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 0; }
    #myActivities .item .txid {
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis; }
    #myActivities .item .time {
      color: rgba(0, 0, 0, 0.4); }

#invite {
  margin-top: 0.56rem;
  text-align: center; }
  #invite .qrcode {
    padding-top: 0.7rem; }
    #invite .qrcode img {
      width: 1.25rem; }
  #invite .code {
    margin-top: 0.38rem;
    font-weight: 400; }
  #invite .url {
    box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-top: 0.38rem;
    min-height: 45px; }
  #invite .btn {
    color: #fff;
    background: -webkit-linear-gradient(75deg, #FF7F22 0%, #FFB645 100%);
    background: linear-gradient(15deg, #FF7F22 0%, #FFB645 100%);
    font-size: 0.16rem;
    font-weight: 400;
    padding: 0.15rem;
    height: 0.54rem;
    border-radius: 0.27rem;
    margin-top: 0.6rem; }

#miners {
  margin-top: 0.56rem; }
  #miners .banner {
    color: #fff;
    background: -webkit-linear-gradient(45deg, #FF7F22 0%, #FFB645 100%);
    background: linear-gradient(45deg, #FF7F22 0%, #FFB645 100%);
    text-align: center;
    padding: 0.2rem 0;
    border-radius: 0.07rem; }
    #miners .banner .title {
      font-size: 0.18rem;
      font-weight: 400; }
  #miners .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    min-height: 45px; }
    #miners .item .center {
      font-size: 0.14rem;
      flex-shrink: 1;
      -webkit-box-flex: 1;
              flex-grow: 1;
      overflow: hidden;
      margin: 0 0.1rem; }
    #miners .item .amount {
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 0; }
    #miners .item .txid {
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis; }
    #miners .item .time {
      color: rgba(0, 0, 0, 0.4); }

#subuser {
  margin-top: 0.56rem; }
  #subuser .item {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    min-height: 45px;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    #subuser .item:last-child {
      margin-bottom: 0; }
    #subuser .item .lv,
    #subuser .item .price {
      flex-shrink: 0;
      -webkit-box-flex: 0;
              flex-grow: 0; }
    #subuser .item .lv {
      height: 44px;
      width: 44px;
      text-align: center;
      font-size: 12px;
      position: relative;
      margin-right: 12px; }
      #subuser .item .lv .text {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        font-weight: 400; }
    #subuser .item .price {
      font-size: 24px; }

#deposit {
  margin-top: 0.56rem; }
  #deposit .banner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 10px;
    min-height: 45px;
    -webkit-box-pack: justify;
            justify-content: space-between; }
    #deposit .banner .logo {
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 0; }
    #deposit .banner .amount {
      -webkit-box-flex: 0;
              flex-grow: 0;
      flex-shrink: 0; }
  #deposit .btn {
    color: #fff;
    background: -webkit-linear-gradient(75deg, #FF7F22 0%, #FFB645 100%);
    background: linear-gradient(15deg, #FF7F22 0%, #FFB645 100%);
    font-size: 0.16rem;
    font-weight: 400;
    padding: 0.06rem 0.15rem;
    border-radius: 0.27rem;
    margin-top: 0.12rem;
    text-align: center; }
  #deposit .qrcode-container {
    box-shadow: 0 8px 16px 0 rgba(34, 34, 44, 0.1);
    padding: 12px;
    border-radius: 6px;
    text-align: center; }
    #deposit .qrcode-container img {
      width: 1.25rem; }
    #deposit .qrcode-container .btn {
      margin: 0 auto;
      width: 1.25rem;
      height: 0.36rem; }
    #deposit .qrcode-container .desc {
      color: #22222C;
      margin-top: 0.12rem; }
    #deposit .qrcode-container .address {
      font-size: 0.12rem; }
  #deposit .bitrabbit {
    text-align: center;
    margin-top: 0.24rem;
    margin-bottom: 0.24rem; }

#withdraw {
  margin-top: 0.56rem; }
  #withdraw .banner {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    margin-bottom: 0.24rem;
    padding-top: 0.12rem; }
    #withdraw .banner div:last-child {
      color: #6788A2; }
  #withdraw .form .scan-btn {
    width: 0.2rem;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }
  #withdraw .form .form-info {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    height: 0.28rem; }
    #withdraw .form .form-info div:last-child {
      color: #6788A2; }
  #withdraw .btn {
    color: #fff;
    background: -webkit-linear-gradient(75deg, #FF7F22 0%, #FFB645 100%);
    background: linear-gradient(15deg, #FF7F22 0%, #FFB645 100%);
    font-size: 0.16rem;
    font-weight: 400;
    padding: 0.06rem 0.15rem;
    border-radius: 0.27rem;
    margin-top: 0.12rem;
    text-align: center;
    width: 100%;
    -webkit-transition: all ease 0.3s;
    transition: all ease 0.3s; }
    #withdraw .btn[disabled] {
      opacity: 0.5; }
  #withdraw .submit {
    margin-top: 0.24rem; }

.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
          transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%; }

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%; }

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px; }

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px; }

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%; }

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px; }

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px; }

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1);
          transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1); }

.noty_progressbar {
  display: none; }

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10); }

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
      transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden; }

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
      -ms-transform: translate(50%);
          transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
          animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
          animation: noty_anim_height 75ms ease-out; }

.noty_close_with_click {
  cursor: pointer; }

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0; }

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
          animation: noty_modal_in .3s ease-out; }

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
          animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: .3; } }

@keyframes noty_modal_in {
  100% {
    opacity: .3; } }

@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0; } }

@keyframes noty_modal_out {
  100% {
    opacity: 0; } }

@keyframes noty_modal_out {
  100% {
    opacity: 0; } }

@-webkit-keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }

@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1; } }

@-webkit-keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0; } }

@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
            transform: translate(50%);
    opacity: 0; } }

@-webkit-keyframes noty_anim_height {
  100% {
    height: 0; } }

@keyframes noty_anim_height {
  100% {
    height: 0; } }

.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative; }
  .noty_theme__mint.noty_bar .noty_body {
    padding: 10px;
    font-size: 14px; }
  .noty_theme__mint.noty_bar .noty_buttons {
    padding: 10px; }

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F; }

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff; }

.noty_theme__mint.noty_type__error {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff; }

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff; }

.noty_theme__mint.noty_type__success {
  background-color: #AFC765;
  border-bottom: 1px solid #A0B55C;
  color: #fff; }

html {
  font-size: 100px; }

body {
  font-size: 0.14rem;
  font-weight: 300;
  background: #fff; }

input {
  font-weight: 300;
  outline: none; }

button {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF7F22), to(#FFB645));
  background-image: -webkit-linear-gradient(left, #FF7F22 0%, #FFB645 100%);
  background-image: linear-gradient(to right, #FF7F22 0%, #FFB645 100%);
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 0.16rem;
  padding: 0.12rem 0.24rem; }

a {
  text-decoration: none;
  color: #D7B97E;
  font-weight: 400; }

.container {
  padding: 0 0.15rem; }

#app {
  position: relative; }

.page-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 18px; }

.form .item {
  padding: 0.06rem 0;
  border-bottom: #F2F2F2 solid 1px;
  margin-bottom: 0.06rem;
  position: relative; }
  .form .item input {
    border: none;
    width: 100%;
    line-height: 2;
    padding: 0; }
    .form .item input::-webkit-input-placeholder {
      color: #6788A2; }
    .form .item input::-moz-placeholder {
      color: #6788A2; }
    .form .item input:-ms-input-placeholder {
      color: #6788A2; }
    .form .item input::-ms-input-placeholder {
      color: #6788A2; }
    .form .item input::placeholder {
      color: #6788A2; }

.page {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; }

.page-enter {
  opacity: 0;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); }

.page-enter-active {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms; }

.page-exit {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1); }

.page-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, -webkit-transform 300ms;
  transition: opacity 300ms, transform 300ms;
  transition: opacity 300ms, transform 300ms, -webkit-transform 300ms; }

