header {
  font-size: 0.18rem;
  height: 0.44rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;

  .title {
    width: 100%;
    text-align: center;
    color: #2A455A;
    font-weight: 500;
  }
}
