#power {
  padding-top: 0.44rem;

  .top {
    display: flex;
    margin: 0.14rem 0;

    &>div {
      width: 50%;
      text-align: center;

      .value {
        font-size: 0.36rem;
        font-weight: 400;

        span {
          font-size: 0.24rem;
        }
      }
    }
  }

  .item {
    position: relative;
    display: flex;
    padding: 0.2rem 0.1rem;
    align-items: center;
    margin-top: 0.1rem;

    .logo {
      flex-grow: 0;
      flex-shrink: 0;
      width: 0.4rem;
    }

    .center {
      font-size: 0.14rem;
      flex-shrink: 1;
      flex-grow: 1;
      overflow: hidden;
      margin: 0 0.1rem;
    }

    .amount {
      flex-grow: 0;
      flex-shrink: 0;
    }

    .txid {
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .time {
      opacity: 0.4;
    }
  }

  .pad {
    margin-bottom: 0.15rem;
    padding: 0.12rem 0.15rem;
    border-radius: 0.1rem;

    .name {
      font-size: 0.12rem;
    }
    
    .yesterday {
      font-size: 0.3rem;
      font-weight: 500;
    }
    .total {
      font-size: 0.12rem;
      font-weight: 500;

      span {
        padding: 0.04rem 0.12rem;
        // background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.2rem;
      }
    }

    &.usdt {
      background-image: linear-gradient(to bottom right, #50AE95 0%, #2D866E);
    }
    &.btc {
      background-image: linear-gradient(to bottom right, #FCA40F 0%, #F19504);
    }
    &.ltc {
      background-image: linear-gradient(to bottom right, #A6A6A6 0%, #666666);
    }
  }

  .item.vip {
    background: linear-gradient(to left, #D2B07A 0%, #F0D7B3 100%);
  }

  .invite-btn button {
    width: 100%;
  }
}