#forgetPassword {
  padding-top: 0.56rem;

  .input-row {
    button {
      flex-grow: 0;
      flex-shrink: 0;
      width: 1.2rem;
      font-size: 14px;
      padding: 0.06rem;
      margin-left: 0.12rem;
    }
  }

  button {
    width: 100%;
    border: none;
    border-radius: 0.1rem;
    font-size: 0.16rem;

    &[disabled] {
      opacity: 0.5;
    }
  }

  .submit {
    margin-top: 0.5rem;
  }
}