#markets {
  .item {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 0.16rem;
    padding-bottom: 0.16rem;
    margin-bottom: 0.2rem;
    border-bottom: transparent solid 1px;
    border-bottom-color: var(--div-color);

    &:last-child {
      border-bottom: none;
    }

    &:last-child .info {
      border-bottom: none;
    }

    .icon {
      height: 0.32rem;
      width: 0.32rem;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 0.13rem;

      img {
        height: 0.32rem;
        width: 0.32rem;
        object-fit: contain;
      }
    }
    .info {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      align-items: center;
    }
    .name {
      width: 1rem;
      flex-grow: 0;
      flex-shrink: 0;
      font-size: 0.16rem;
    }
    .price {
      flex-grow: 1;
      flex-shrink: 1;
      text-align: right;
    }
    .change {
      width: 0.7rem;
      text-align: center;
      padding: 0.04rem 0;
      background: #04C087;
      color: #fff;
      border-radius: 0.03rem;

      &.down {
        background: #F04D64;
      }
    }
  }
}

#home {
  position: relative;

  .earn {
    .name {
      font-size: 0.12rem;
    }
    
    .yesterday {
      font-size: 0.3rem;
      font-weight: 500;
    }
    .total {
      font-size: 0.12rem;
      font-weight: 500;

      span {
        padding: 0.04rem 0.12rem;
        // background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.2rem;
      }
    }

  }

  .index-menu {
    position: absolute;
    top: 0.15rem;
    right: 0;
    z-index: 10;

    &:hover .menu {
      transform: scale(1);
    }
  }

  .menu {
    position: absolute;
    right: 0.1rem;
    top: calc(100% + 0.05rem);
    background: #fff;
    padding: 0.14rem;
    border-radius: 0.04rem;
    color: #000;
    transition: all ease .15s;
    transform: scale(0);
    transform-origin: 1.05rem -0.05rem;

    a {
      display: block;
      color: #000;
    }

    .menu-item {
      white-space: nowrap;
      margin-bottom: 0.14rem;

      img {
        width: 0.22rem;
        height: 0.22rem;
        margin-right: 0.14rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -0.04rem;
      right: 0.1rem;
      display: block;
      height: 0.1rem;
      width: 0.1rem;
      background: #fff;
      border-radius: 0.02rem;
      transform: rotate(45deg);
    }
  }

  .pad {
    position: relative;
    background: var(--index-pad-bg);
    padding: 0.12rem 0.15rem;
    margin: 0 0.16rem;
    border-radius: 0.1rem;
    margin-bottom: 0.12rem;

    .arrows {
      position: absolute;
      top: 50%;
      right: 0.12rem;
      transform: translate(0, -50%);

      img {
        display: block;
      }

      &>div:last-child {
        transform: rotate(180deg);
      }

      .option {
        opacity: 0.5;

        &:first-child {
          margin-bottom: 0.04rem;
        }

        &.active {
          opacity: 1;
        }
      }
    }
  }

  .notice {
    background-color: var(--index-notice-bg);
    padding: 0.07rem 0.13rem;
    margin: 0 0.16rem;
    border-radius: 0.1rem;
    text-overflow: ellipsis;
    margin-bottom: 0.12rem;
    white-space: nowrap;
    min-height: auto;
    font-weight: 500;

    &>* {
      vertical-align: middle;
    }

    img {
      margin-right: 0.1rem;
    }
  }
}

$bannerHeight: 1.16rem;

#banners {
  margin: 0.15rem;
  border-radius: 0.1rem;
  overflow: hidden;

  .slick-slide>div {
    height: $bannerHeight;
    line-height: 1;
  }

  .banner {
    height: $bannerHeight;
    overflow: hidden;

    &>div {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}

@keyframes show-activity {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes index-activity-flow {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, 0%);
  }
}
