#markets {
  .item {
    display: flex;
    align-items: center;
    font-weight: 400;

    &:last-child .info {
      border-bottom: none;
    }

    .icon {
      height: 0.4rem;
      width: 0.4rem;
      flex-grow: 0;
      flex-shrink: 0;
      margin-right: 0.13rem;

      img {
        height: 0.4rem;
      }
    }
    .info {
      flex-grow: 1;
      flex-shrink: 1;
      display: flex;
      align-items: center;
      padding: 0.16rem 0;
      border-bottom: rgba($color: #FFEFD8, $alpha: 0.4) solid 1px;
      min-height: 0.72rem;
    }
    .name {
      width: 0.65rem;
      flex-grow: 0;
      flex-shrink: 0;
      font-size: 0.16rem;
    }
    .price {
      flex-grow: 1;
      flex-shrink: 1;
      text-align: right;

      .cny {
        font-size: 0.12rem;
        color: #fff;
        opacity: 0.4;
      }
    }
    .change {
      width: 0.7rem;
      text-align: center;
      padding: 0.04rem 0;
      background: #04C087;
      color: #fff;
      border-radius: 0.03rem;

      &.down {
        background: #F04D64;
      }
    }
  }
}

#home {
  padding-top: 0.44rem;
  position: relative;

  .earn {
    text-align: center;
    margin-bottom: 0.24rem;

    .name {
      font-size: 0.17rem;
    }
    
    .yesterday {
      font-size: 0.48rem;
      color: #FFEFD8;
    }
    .total > span {
      
    }

  }

  .index-menu {
    position: absolute;
    top: 0.15rem;
    right: 0;
    z-index: 10;

    &:hover .menu {
      transform: scale(1);
    }
  }

  .menu {
    position: absolute;
    right: 0.1rem;
    top: calc(100% + 0.05rem);
    background: #fff;
    padding: 0.14rem;
    border-radius: 0.04rem;
    color: #000;
    transition: all ease .15s;
    transform: scale(0);
    transform-origin: 1.05rem -0.05rem;

    a {
      display: block;
      color: #000;
    }

    .menu-item {
      white-space: nowrap;
      margin-bottom: 0.14rem;

      img {
        width: 0.22rem;
        height: 0.22rem;
        margin-right: 0.14rem;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: -0.04rem;
      right: 0.1rem;
      display: block;
      height: 0.1rem;
      width: 0.1rem;
      background: #fff;
      border-radius: 0.02rem;
      transform: rotate(45deg);
    }
  }

  .pad {
    background: rgba($color: #000000, $alpha: 0.3);
    padding: 0.2rem 0;
    margin: 0 0.16rem;
    border-radius: 0.06rem;
    overflow: hidden;
  }
}

#banners {
  padding: 0 0.16rem;
  margin-bottom: 0.12rem;

  .banner {
    height: 1.6rem;
    border-radius: 0.06rem;
    overflow: hidden;

    &>div {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-position: center;
    }
  }
}

@keyframes show-activity {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes index-activity-flow {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, 0%);
  }
}
