#paidPower {
  .paidpower {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .lv,
    .price {
      flex-shrink: 0;
      flex-grow: 0;
    }

    .lv {
      height: 44px;
      width: 44px;
      text-align: center;
      font-size: 12px;
      position: relative;
      margin-right: 12px;

      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .center {
      flex-shrink: 1;
      flex-grow: 1;

      .rate {
        font-size: 12px;
        color: #999;
      }
      .data {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 8px;
      }
    }

    .price {
      margin-left: 12px;
      text-align: right;

      .unit {
        font-size: 12px;
        opacity: 0.5;
      }
    }
  }
}

.demo2{
  transform-origin: 22px 22px;
  transform: rotate(-90deg);
  transition: stroke-dasharray .3s ease-in;
}